@import "./colors";

.background-white {
    background: $color-white !important;
}

.background-primary {
    background: $color-primary !important;
}

.background-secondary {
    background: $color-secondary !important;
}

.text-white {
    color: $color-white !important;
}

.text-black {
    color: $color-black !important;
    font-weight: bold !important;
    backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, 0.3);
    padding: 10px 20px;
    text-align: center;
}

.centermid {
    justify-content: center;
}

.text-primary {
    color: $color-primary !important;
}

.text-secondary {
    color: $color-secondary !important;
}

.no-decoration {
    text-decoration: none;
}

.stroke-white {
    stroke: white !important;
    stroke-width: 5 !important;
}

.stroke-black {
    stroke: black !important;
    stroke-width: 5 !important;
}

.hover-underline:hover {
    text-decoration: underline;
}

.no-padding {
    padding: 0;
}

.category__container {
    width: 20%;
}

.card-container {
    flex-grow: 2;
}

.filters__button {
    text-align: center;
    padding: 2rem 0;
}

.filters__element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 4rem;
}

.filters__element span {
    line-height: 4rem;
    vertical-align: middle;
    text-align: center;
}

.filters__element--active {
    background: $color-primary;
    color: $color-white;
}

.filters__element:hover {
    background: $color-secondary;
    color: $color-white;
    cursor: pointer;
}

.filters__element--active:hover {
    background: $color-primary;
    color: $color-white;
}

header {
    z-index: 9999 !important;
}

.carousel-slider img {
    z-index: 1 !important;
}

.card__content {
    margin-top: 1rem !important;
    color: black !important;
}